.rodape{
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 0.3rem;
    padding-top: 1rem;
    margin-top: 3rem;
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 8px 1px rgb(72, 183, 202);
    

}

.rodape__texto{
    font-weight: 700;
    font-size: 0.7rem;
    font-family: var(--fonte-titulo); 
}

.rodape__imagem-links{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.contato__imagem-img{
    width: 30px;
}
